
.books-computer {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.books-mobile {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.books-computer img {
    width:300px;
    padding: 5px;
}

.books-mobile img {
    width: 600px;
    padding: 5px;
}
