nav, input {
    font-weight: bold;
    display:inline-block;
}

input {
    float: left;
    border: none;
    font-size: large;
    background-image: url('https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png');
    background-size:contain;
    background-repeat: no-repeat;
    padding: 5px 3px;
} 

.resultsStl {
    position: absolute;
    z-index: 100;
    width: 204px;;
    left: 65px;
    top: 70px;
    background-color: #fff;
    opacity: 80%;
    font-weight: 600;
    border-width: 1px;
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
} 

#results {
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
}

#results:hover {
    background-color: gray;
    width: 100%;
}


.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.white {
    color: #fff;
}

.bg-d-blue {
    background-color: #043055;
}

.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr3 {
    margin-right: 2rem;
}


.f6 {
    font-size:x-large ;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}



@media screen and (min-width: 30em) {
    .pv4-ns {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .ph4-m {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 60em) {
    .ph5-l {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}



.hamburger1 {
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #007ab9;
    border-radius: 50%;
    padding: 2%;
    z-index: 24;
    border-width: 3px ;
    border-style: solid;
    margin-top: -2%;
}

.hamburger2 {
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #043055;
    border-radius: 50%;
    padding: 2%;
    z-index: 24;
    border-width: 4px ;
    border-style: solid;
    margin-top: -2%;
    border-color: #007ab9;
    opacity: 80%;
}


.mobile-menu {
    display:none;
}

.mobile-menu-expanded {
    position: absolute;
    top: 170px;
    right: 0px;
    width: 370px;
    height: 650px;
    background-color: white;
    text-align: right;
    font-size: xx-large;
    padding-right: 50px;
    line-height: 350%;
    z-index: 24;
    border-width: 3px ;
    border-style: solid;
    opacity: 99%;
    
    
}

ul {
    padding: 0;
    list-style-type: none;
}


.large-bar{
    height: 110px;
  }
  
  .large-search {
    height: 70px;
    width: 450px;
    font-size: 300%;
    margin-top: 20px;
  }

.large-results {
    position: absolute;
    z-index: 100;
    width: 410px;
    left: 65px;
    top: 140px;
    background-color: #fff;
    opacity: 99%;
    font-size: 230%;
    font-weight: 600;
    line-height: 170%;
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
  } 






.d-blue {
    color: #043055;
    font-size:160%;
    font-weight: 700;
};
